<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/" 
      text="Regresar"
      color="primary"
      mode="ios">
      </ion-back-button>
    </ion-buttons>
    
    <ion-title class="ion-text-capitalize">{{ headerTitle }}</ion-title>
    <!-- En el padre, para mandar el dato al input
      si fues con llaves cuadradas [] se manda una propiedad
      pero si es sin llaves cuadradas se manda un string
    -->
  </ion-toolbar>
</ion-header>