<app-header headerTitle="card"></app-header>

<ion-content [fullscreen]="true">

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing 
      elit. Esse porro aliquid odit consequuntur 
      consectetur facilis nemo neque fugit, culpa eos et 
      eum architecto, suscipit, cumque excepturi saepe 
      beatae voluptatem mollitia!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src= "https://upload.wikimedia.org/wikipedia/commons/7/76/Australian_Open_Logo_2017.png" alt="Australian Open">
    
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor soluta quisquam non id ipsam eveniet maiores commodi modi cumque in quis praesentium voluptatum saepe nam ullam dicta, perspiciatis eaque necessitatibus.
    </ion-card-content>
  </ion-card>

</ion-content>
